**/serverless-output.*
**/.DS_Store
temp/
.DS_Store
serverless-output.yaml
**/.vscode/
**/build/
**/dist/
**/*egg*
**/*.pyc
**/.vscode
**/*_cache
**/*__pycache__*
*coverage*
venv/
*.zip
**/.terraform*
*.tfstate*
.env